.project-container {
  width: 100%;
  margin-bottom: 150px; }

.project-col {
  min-height: 600px; }

.project-hover-panel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#project-4 {
  background-image: url("../img/coconut-drink-on-beach_1920x1080.jpg"); }

#project-3 {
  background-image: url("../img/david-marcu-125458-unsplash.jpg"); }

#project-2 {
  background-image: url("../img/joanna-kosinska-346609-unsplash_crop_fade.jpg"); }

#project-1 {
  background-image: url("../img/drift_2_crop.jpg"); }

.project-overlay {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100.15%;
  height: 100%;
  padding: 10px;
  background-image: linear-gradient(to right, rgba(65, 82, 111, 0.7), rgba(55, 122, 158, 0.7), rgba(0, 166, 193, 0.7), rgba(0, 210, 210, 0.7), rgba(93, 253, 209, 0.7));
  transition: 0.4s; }
  .project-overlay:hover {
    opacity: 1; }

.project-title {
  font-size: 4rem;
  letter-spacing: 2.5px;
  text-shadow: 1px 1px 4px black; }

.project-show {
  margin-top: 77px; }
  .project-show .row {
    transition: 300ms; }

.project-background {
  height: 700px;
  width: 100%;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.image-tint {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4); }

#saveourdate {
  background-image: url("../img/coconut-drink-on-beach_1920x1080.jpg"); }

#eurobiketours {
  background-image: url("../img/david-marcu-125458-unsplash.jpg"); }

#zenith {
  background-image: url("../img/joanna-kosinska-346609-unsplash_crop_fade.jpg"); }

#lowambition {
  background-image: url("../img/drift_2_crop.jpg"); }

.project-show-header {
  color: white;
  font-size: 7rem;
  text-shadow: 2px 2px 7px black; }

.project-show .img-fluid {
  height: auto; }

.project-show h4 {
  font-size: 2rem; }

.fa-external-link-alt {
  font-size: 2rem; }

.project-btn {
  width: 160px;
  font-size: 1.8rem;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: 0.3s; }
  .project-btn a, .project-btn i {
    transition: 0.3s; }
  .project-btn a:hover {
    text-decoration: none; }

.project-body {
  margin: 40px auto;
  text-align: left;
  padding: 15px;
  box-shadow: 1px 1px 10px lightgrey; }

.project-body,
p {
  letter-spacing: 1.5px; }

.project-body a {
  transition: 0.3s; }

.divider {
  width: 80%;
  height: 5px;
  margin: 10px auto; }

.menu {
  font-size: 1.8rem;
  z-index: 10;
  margin: 20px 0; }

#back-to-portfolio {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 8px;
  line-height: 30px; }

.fa-arrow-left {
  margin-right: 5px; }

.project-dropdown-button {
  width: 300px;
  height: 50px;
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 10px;
  border-radius: 8px;
  line-height: 30px; }

.fa-level-down {
  margin-left: 5px; }

@media (max-width: 1199px) {
  .project-col {
    min-height: 400px; } }
@media (max-width: 991px) {
  .project-col {
    margin-bottom: 20px;
    min-height: 250px; }

  .project-show {
    margin-top: 75px; }

  .project-background {
    height: 400px; }

  .project-overlay {
    opacity: 1;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.5); } }
@media (max-width: 576px) {
  .project-show {
    margin-top: 66px; }

  .project-title {
    font-size: 3rem; } }

/*# sourceMappingURL=projects.css.map */
