*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  text-align: center;
}

.main-section {
  padding: 68px 30px 0;
  transition: 300ms;
}

.btn.focus,
.btn:focus {
  box-shadow: none;
}


/*index.html*/
/*Hero Container*/
.hero-container {
  background-image: url("../img/carolinie-cavalli-99609-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}
.hero-inner {
  padding-top: 70px;
}

.welcome-1 {
  font-size: 6rem;
}

.welcome-2 {
  font-size: 3.2rem;
}

.button-container {
  margin-bottom: 50px;
}

.home-nav-btn {
  margin: 6px;
  border: 1.6px solid #41526f;
  color: #5dfdd1;
  background-color: #41526f;
  font-size: 1.85rem;
  letter-spacing: 2.5px;
  line-height: 1.8;
}

.home-nav-btn:hover {
  color: #41526f;
  background-color: #5dfdd1;
  line-height: 1.8;
}

@media (max-width: 576px) {
  .button-container .col-6 {
    text-align: center;
  }
}

.img-thumbnail {
  height: 250px;
  padding: 1.5px;
  background-color: #e1ebf0;
  border: 2px solid #4c4c4c;
}

.my-name {
  margin-bottom: 7px;
  font-size: 3rem;
  letter-spacing: 0.5px;
}

.my-occupation {
  font-size: 2.1rem;
  letter-spacing: 0.5px;
}

.caption {
  cursor: default;
}

.home-icons {
  font-size: 2rem;
  padding-top: 30px;
}

.home-icons a {
  text-decoration: none;
}

.fab {
  width: 40px;
  padding: 10px;
  transition: 0.3s;
}


/*General styling*/
a:hover {
  text-decoration: none;
}

.index-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 4.5rem;
  margin: 15px 0;
  cursor: default;
}

.mt1 {
  margin-top: 10px;
}

.mt2 {
  margin-top: 20px;
}

.mt3 {
  margin-top: 30px;
}

.mb1 {
  margin-bottom: 10px;
}

.mb2 {
  margin-bottom: 20px;
}

.mb3 {
  margin-bottom: 30px;
}

.nm {
  margin: 0;
}

.opaque {
    opacity: 0.5;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.justify {
  text-align: justify;
}

.smol-p {
  font-size: 1.3rem;
}

/*Animation styling*/
.fadeIn {
  animation-duration: 0.5s;
  animation-delay: 1s;
}

.fadeInLeft,
.fadeInRight,
.flipInX {
  animation-duration: 0.5s;
  animation-delay: 1s;
}

#icon-1 {
  animation-delay: 0.6s;
}

#icon-2 {
  animation-delay: 0.7s;
}

#icon-3 {
  animation-delay: 0.9s;
}

#icon-4 {
  animation-delay: 1.0s;
}

#icon-5 {
  animation-delay: 1.1s;
}

#icon-6 {
  animation-delay: 1.2s;
}
