.montserrat-5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.montserrat-6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.montserrat-7 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.montserrat-9 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.default-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
}

.white {
  color: white;
}
