.navbar {
  position: fixed;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  padding: 5px 40px;
  z-index: 100;
  transition: 0.3s;
}

.brand-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 4.5rem;
  margin: 0 20px 0 0;
}

.slash {
  margin-right: 10px;
  font-size: 3.5rem;
}

.navbar-header {
  position: relative;
  top: 3px;
  margin: 0 10px 0 0;
  font-size: 3rem;
}

.nav-open {
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 300;
}

.nav-link {
  font-size: 5rem;
  margin: 5px;
  padding: 10px;
  transition: 0.3s;
}

.nav-menu {
  position: fixed;
  top: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(65, 82, 111, 0.9);
  z-index: 200;
  transition: 0.3s;
}

@media (max-width: 767px) {
  .slash,
  .navbar-header {
    display: none;
  }
}

@media (max-width: 575px) {
  .navbar {
    padding: 5px 10px;
  }

  .nav-open {
    top: 25px;
    right: 6px;
  }

}
