// Project index view styling
.project-container {
  width: 100%;
}

.project-hover-panel {
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#project-4 {
  background-image: url("../img/coconut-drink-on-beach_1920x1080.jpg");
}

#project-3 {
  background-image: url("../img/david-marcu-125458-unsplash.jpg");
}

#project-2 {
  background-image: url("../img/joanna-kosinska-346609-unsplash_crop_fade.jpg");
}

#project-1 {
  background-image: url("../img/drift_2_crop.jpg");
}

.project-overlay {
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.project-img {
  margin-bottom: 15px;
  border-radius: 6px;
}

.project-panel {
  padding: 20px;
  border-radius: 6px;
  box-shadow: 1px 1px 10px lightgrey;
}

.project-panel h4 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  letter-spacing: 1px;
  color: black;
}

.project-panel h5 {
  font-size: 1.6rem;
  font-weight: 400;
}

.project-panel img {
  transition: 0.3s;
}

.project-panel img:hover {
  transform: scale(1.035);
  opacity: 0.9;
}

// Project show view styling
.project-show {
  margin-top: 77px;

  .row {
    transition: 300ms;
  }
}

.project-background {
  height: 700px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#saveourdate {
  background-image: url("../img/rooftop_edit_tint.jpg");
}

#eurobiketours {
  background-image: url("../img/david-marcu-125458-unsplash_edit.jpg");
}

#zenith {
  background-image: url("../img/joanna-kosinska-346609-unsplash-tint.jpg");
}

#lowambition {
  background-image: url("../img/drift_tint.jpg");
}

.project-show-header {
  color: white;
  font-size: 7rem;
  text-shadow: 2px 2px 7px black;
}

@media (max-width: 576px) {
  .project-show {
    margin-top: 66px;
  }

  .project-background {
    height: 400px;
  }
}

.project-show .img-fluid {
  height: auto;
}

.project-show h4 {
  font-size: 2rem;
}

.fa-external-link-alt {
  font-size: 2rem;
}

.project-title {
  font-size: 4rem;
  letter-spacing: 2.5px;
}

.project-btn {
  width: 160px;
  font-size: 1.8rem;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: 0.3s;

  a, i {
    transition: 0.3s;
  }

  a:hover {
    text-decoration: none;
  }
}

.project-body {
  margin: 40px auto;
  text-align: left;
  padding: 15px;
  box-shadow: 1px 1px 10px lightgrey
}

.project-body,
p {
  letter-spacing: 1.5px;
}

.project-body a {
  transition: 0.3s;
}

.divider {
  width: 80%;
  height: 5px;
  margin: 10px auto;
}


//Bottom nav menu styling
.menu {
  font-size: 1.8rem;
  z-index: 10;
  margin: 20px 0;
}

#back-to-portfolio {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 8px;
  line-height: 30px;
}

.fa-arrow-left {
  margin-right: 5px;
}

.project-dropdown-button {
  width: 300px;
  height: 50px;
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 10px;
  border-radius: 8px;
  line-height: 30px;
}

.fa-level-down {
  margin-left: 5px;
}
