// Styling for Sidebar in Article Index view
.sidebar {
  top: 0;
  width: 400px;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding: 20px 0;
  transition: 0.5s;
}

.sidebar a,
.sidenav a {
  background: none;
}

.sidebar-icons {
  padding-top: 30px;
  font-size: 2rem;
  vertical-align: middle;

  a {
    text-decoration: none;
  }


  i {
    width: 45px;
    padding: 7px;
    transition: 0.2s;
  }
}

.modal-section {
  width: 70%;
  margin: 25px auto;
}

.modal-section button {
  margin: 0 auto;
  width: 45%;
  padding: 15px 10px;
  transition: 0.3s;
}

.modal-section-mobile {
  height: 45px;

  button {
    height: 100%;
  }
}

.sidebar-icons-mobile {
  width: 60vw;
  margin: 0 auto;
}

.fas {
  font-size: 6rem;
  transition: 0.3s;
}

.modal-caption {
  font-size: 1.6rem;
  opacity: 0;
  transition: 0.3s;
}

.modal-header {
  display: block;
}

.modal-title {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.close {
  font-size: 2rem;
  transition: 0.3s;
  opacity: 1;
}


// Hidden sidenav for <1200px breakpoints
.sidenav {
    height: 100%;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav .closebtn {
  position: absolute;
  top: 30px;
  right: 45px;
  font-size: 5.5rem;
  cursor: pointer;
  color: black;
}

#contact-button,
#contact-button-second {
  cursor: pointer;
}
